.subject-bar {
  display: flex;
  justify-content: space-between;
}

img {
  width: 130px;
  float: left;
  margin-right: 20px;
}

.container-about {
  text-align: justify;
}

.validationNotif {
  color: red;
}

.container-restaurants {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}