.subject-bar {
  display: flex;
  justify-content: space-between;
}

img {
  width: 130px;
  float: left;
  padding-right: 20px;
}

.container-about {
  text-align: justify;
}

.validationNotif {
  color: red;
}


.container-restaurants {
  position: relative;
    text-align: center;
    color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gambar {
    position: relative;
    text-align: center;
    color: white;
}

.tulisan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deleteButton {
  color : #ee3131;
}

.kontainer {
    position: relative;
    text-align: center;
    color: black;
}

.tulisan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
